/* 基本樣式 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.product-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.product-list li {
  background-color: var(--product-background-color);
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33.333% - 2rem);
  box-sizing: border-box;
}

.product-list img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.modal-content {
  background-color: var(--modal-background-color);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin-bottom: 0.5rem;
}

.modal-content input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
}

.modal-content button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  /* background-color: var(--button-background-color); */
  /* color: var(--button-text-color); */
  cursor: pointer;
}

/* 淺色模式 */
:root {
  --background-color: #f4f4f4;
  --text-color: #333;
  --nav-background-color: #333;
  --nav-text-color: white;
  --heading-color: #333;
  --product-background-color: white;
  --modal-background-color: white;
  --input-border-color: #ccc;
  --button-background-color: #333;
  --button-text-color: white;
  --button-hover-background-color: #555;
}

/* 深色模式 */
[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --nav-background-color: #1f1f1f;
  --nav-text-color: #e0e0e0;
  --heading-color: #e0e0e0;
  --product-background-color: #1f1f1f;
  --modal-background-color: #2c2c2c;
  --input-border-color: #555;
  --button-background-color: #444;
  --button-text-color: #e0e0e0;
  --button-hover-background-color: #666;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.product-item {
  flex: 1 1 calc(33.333% - 10px);
  margin: 5px;
  box-sizing: border-box;
}

.nav-link {
  display: flex !important; /* 保證標題和箭頭在同一行 */
  align-items: center;      /* 垂直置中 */
  white-space: nowrap;      /* 禁止換行 */
}

.sold-out {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
}